*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/*font-family: 'Roboto', sans-serif;
font-family: 'Hammersmith One', sans-serif;
font-family: 'Playfair Display', serif;*/

a{
	color: inherit;
	text-decoration: none;
}

ul{
	list-style: none;
}
li{
	display: inline-block;
}

/* content is placed in 940px */
.centered{
	padding-left: calc(50vw - 470px);
	padding-right: calc(50vw - 470px);
}

.top{
	text-align: center;
	padding-bottom: 50px;
	padding-top: 17px;
	color: #ffffff;
	background: url('img/header_bg.jpg') no-repeat center;
	background-size: cover;
}

nav{
	overflow: hidden;
}

nav img{
	float: left;
}
.menu{
	float: right;
}

.menu li{
	height: 50px;
	font-size: 13px;
	line-height: 50px;
	margin-left: 20px;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	font-family: 'Roboto', sans-serif;
	font-weight: black;
}

.menu li.active{
	color: #00e0d0;
}

.top p {
	padding: 30px 96px 50px;
	font-size: 14px;
	line-height: 24px;
	margin-top: 19px;
}

h1{
	font-size: 32px;
	position: relative;
	font-family: 'Playfair Display', serif;
	font-weight: black;
	letter-spacing: 0.01em;
	margin:  164px 0 0;
}


h1:after{
	content: '';
	display: block;
	position: absolute;
	bottom: -19px;
	left: calc(50% - 25px);
	width: 50px;
	height: 1px;
	background-color: #00e0d0;
}

.btn{
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #00e0d0;
	text-transform: uppercase;
	color: #00e0d0;
	padding: 13px 15px;
	font-size: 14px;
	font-family: 'Hammersmith One', sans-serif;
}

.slider_controls{
	margin: 100px auto 0px;  
}


.slider_controls li{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-right: 5px;
	border: 1px solid #c2c2c2;
}

.slider_controls li.current{
	background-color: #00e0d0;
	border: none;
}

#about{
	padding-top: 70px;
	padding-bottom: 70px;
}

#about img{
	margin: 0 54px 0 80px;
}

.about_content{
	display: inline-block;
	width: 550px;
	vertical-align: top;
}

h2{
	color: #413d4b;
	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 25px;
}


.about_content p{
	margin-bottom: 30px;
	font: 14px/22px 'Roboto';
	font-weight: 300;
	color: #413d4b;
}


.video_content{
	position: relative;
}

.video_content video{
	width: 100%;
}

#playbtn{
	position: absolute;
	width: 160px;
	height: 155px;
	background: url('img/play_video.png') no-repeat top center;
	text-align: center;
	top: calc(50% - 77px);
	left: calc(50% - 80px);
	padding-top: 135px;
	color: #ffffff;
	cursor: pointer;
	font: 16px/1.2 'Roboto', sans-serif;
	font-weight: 900;
	letter-spacing: 0.05em;
}

#expertise{
	padding-top: 68px;
	padding-bottom: 94px;
	text-align: center;
	overflow: hidden;
}

h5{
	position: relative;
	font: 14px/1.2 "Playfair Display", serif;
	font-weight: 400;
	padding: 0 0 13px;
	color: #2f2d35;
	margin-bottom: 46px;
}


h5:after{
	content: '';
	width: 54px;
	height: 1px;
	background-color: #c6c4c9;
	position: absolute;
	bottom: 0;
	left: calc(50% - 27px);
}

.expertise_item{
	float: left;
	width: 33%;
	padding: 38px 30px 37px;
}

.expertise_item img{
	margin-bottom: 30px;
	min-height: 52px;
}

.expertise_item p{
	font: 14px/22px 'Roboto', sans-serif;
	font-weight: 300;
	color: #333333;
}

h4{
	font: 14px/1.2 'Roboto', sans-serif;
	font-weight: 900;
	margin-bottom: 24px;
	color: #413d4b;
}

.expertise_item:nth-of-type(1){
	border-bottom: 1px solid #ebebeb;
}
.expertise_item:nth-of-type(3){
	border-bottom: 1px solid #ebebeb;
}

.expertise_item:nth-of-type(2){
	border: 1px solid #ebebeb;
	border-width: 0 1px 1px;
}
.expertise_item:nth-of-type(5){
	border: 1px solid #ebebeb;
	border-width: 0 1px;
}

#team{
	padding-top: 68px;
	padding-bottom: 66px;
	text-align: center;
	background: url('img/our_team_bg.jpg') no-repeat center;
	background-size: cover;
}


#team h2, #team h5{
	color: #ffffff;
}

.teammember{
	width: 220px;
	border: 1px solid #ffffff;
	margin-right: 11px;
	margin-bottom: 69px;
	display: inline-block;
	color: #ffffff;
}

.teammember:last-of-type{
	margin-right: 0;
}

.avatar{
	height: 230px;
	background-color: #ffffff;
	overflow: hidden;
}

.avatar img{
	min-width: 100%;
	min-height: 100%;
} /* trick for future projects*/
.name{
	font: 14px/1 'Roboto', sans-serif;
	font-weight: 900;
	padding: 18px 0 8px;
	letter-spacing: 0.05em;
}

.position{
	font: 13px/1 'Roboto', sans-serif;
	font-weight: 300;
	padding-bottom: 23px;
}

#team p{
	color: #ffffff;
	font: 14px/1 'Roboto', sans-serif;
	font-weight: 300;
	margin-bottom: 28px;
}


@media (max-width: 1024px){
	.centered{
		padding-left: 40px;
		padding-right: 40px;
	}
	h1{
		font-size: 30px;
	}
}
 @media (max-width:1005px){
 	.teammember{
 		width: 22%;
 	}

 	#about img{
 		width: 40%;
 		max-width: 235px;
 		vertical-align: -webkit-baseline-middle;
 	}
 	.about_content{
 		width: 50%;
 	}
 }

 @media (max-width: 900px){
 	.slider_controls{
 		display: none;
 	}
 	.menu li{
 		font-size: 12px;
 		margin-left: 16px;
 	}
 	.top{
 		height: 100vh;
 	}

 	.teammember {
	    width: 33%;
	    margin: 0 7% 70px;
	}
	.teammember:last-of-type {
	    margin-right: 7%;
	}
 }

 @media (max-width: 868px){
 	.expertise_item{
 		width: 40%;
 		float: none;
 		display: inline-block;
 		border: 1px solid  #ebebeb;
 	}
 	.expertise_item:nth-of-type(odd){
 		border-width: 0 1px 0 0;
 	}
 	.expertise_item:nth-of-type(even){
 		border-width: 0;
 	}
 	.expertise_item:nth-of-type(3), .expertise_item:nth-of-type(4){
 		border-top-width: 1px;
 		border-bottom-width: 1px;
 	}
 }

 @media (max-width: 826px){
 	#about img{
 		margin: 30px 20px 0;
 	}
 }

 @media (max-width: 768px){

 }